body {
  background-color: #f0f0f0;
  font-family: Barlow, sans-serif;
}

header {
  background-color: #562b81;
}

header a,
header h3 {
  text-decoration: none;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

h1 {
  font-family: "Proza Libre", Barlow, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 2.5rem;
}

img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  object-fit: contain;
  object-position: 50% 50%;
}

label {
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

input,
textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: 2.5px solid #b6b6b6;
  padding: 8px;
  margin: 10px 0 20px;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2.5px solid #562b81;
}

.flex-align-end {
  display: flex;
  justify-content: flex-end;
}

.flex-display {
  display: flex;
}

h4 a {
  text-decoration: none;
  padding: 0 20px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.hidden {
  display: none;
}

.between-center {
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul h2 {
  margin: 0;
}

li {
  margin: 0 0 30px;
}

button,
.new-button {
  text-decoration: none;
  color: white;
  background-color: #562b81;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

p {
  white-space: pre-wrap;
}

i {
  font-size: 1.5rem;
}

.delete-button {
  text-decoration: underline;
  border: none;
  background: none;
  color: #dc2626;
  padding: 0;
}

.invisible {
  visibility: hidden;
}

.overlay {
  background: rgb(0 0 0 / 75%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.modal {
  width: 400px;
  height: 200px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
}

.confirm-button {
  background-color: #dc2626;
}

.cancel-button {
  background-color: #b6b6b6;
  color: #2a2a2a;
  font-weight: 600;
}

.column-gap {
  display: flex;
  column-gap: 150px;
}
